@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@DateTime.Now.ToShortDateString() - Döviz Kurları</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="x_content">
                        <div class="row">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-usd"></i>
                                    </div>
                                    <div class="count">@(ViewBag.UsdToTry.Substring(0, ViewBag.UsdToTry.IndexOf('.') + 5))</div>

                                    <h3>Dolar - TL</h3>
                                    <p>Güncel $ - ₺ Kuru</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-eur"></i>
                                    </div>
                                    <div class="count">@(ViewBag.EurToTry.Substring(0, ViewBag.EurToTry.IndexOf('.') + 5))</div>
                                    
                                    <h3>Euro - TL</h3>
                                    <p>Güncel € - ₺ Kuru</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-gbp"></i>
                                    </div>
                                    <div class="count">@(ViewBag.GbpToTry.Substring(0, ViewBag.GbpToTry.IndexOf('.') + 5))</div>

                                    <h3>Sterlin - TL</h3>
                                    <p>Güncel £ - ₺ Kuru</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div class="count">@(ViewBag.UsdToEur.Substring(0, ViewBag.UsdToEur.IndexOf('.') + 5))</div>

                                    <h3>Dolar - Euro</h3>
                                    <p>Güncel $ - € Kuru</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>